Flask==2.3.3
Flask-CORS==4.0.0
beautifulsoup4==4.12.2
Werkzeug==2.3.7
SQLAlchemy==1.4.53
alembic==1.12.1
bcrypt==4.0.1
pyjwt==2.8.0
requests==2.31.0
qrcode[pil]==7.4.2
Pillow==10.0.0
PyYAML==6.0.1
python-dotenv==1.0.1
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
python-docx==0.8.11
Flask-Mail==0.9.1
PyMySQL==1.1.0
cryptography==41.0.7
gunicorn==21.2.0
flask_wtf
email_validator
psutil==5.9.8
